  body{
  	background: url("pics/house3.jpg") no-repeat center center/cover;
  	height: 100vh;
  }

  h1{
  	color: #f322fe;
  	font-size: 40px;
  	font-family: Showcard Gothic;
  }

 .carrier{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 }

 .container{
   background-color: #585123;
   width: 500px;
   height: 450px;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 30px;
   box-shadow: 0px 0px 10px;
 }


.login label{
	font-family: sans-serif;
	font-weight: bold;
	font-size: 25px;
	color: #f2a65a;
	margin-left: 5px;
}
.login input{
	width: 330px;
	border-radius: 6px;
	height: 30px;
	font-size: 28px;
	font-weight: bolder;
	background-color: #f58549;
	color: #eec170;
	border-color: #f58549;
	border: 2px solid #f58549;
}

.login button{
	width: 330px;
	height: 50px;
	text-align: center;
    font-weight: bolder;
    font-size: 30px;
    color: #585123;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    background-color: #f58549;
}

.login button:hover{
	transition: .4s;
	color: #777456;
}

.login input:hover{
	background-color: #772f1a;
}