 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*NAV BAR*/

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.logo{
    font-size: 30px;
    color: white;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-family: fantasy;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

span{
    color: red;
}

.content > h1{
  background-color: #333;
  margin-top: 10px;
  text-transform: capitalize;
  padding: 3px;
  border: 8px solid rgb(237, 6, 64);
  text-align: center;
  border-radius: 8px;
  color: blueviolet;
  font-size: 27px;
  box-shadow: 8px 6px 5px 2px;
  margin-top: 80px;
}

 .content > p{
  font-size: xx-large;
  text-transform: capitalize;
 }