 * {
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

.nav {
  position: fixed;
  background-color: #222;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  transition: all 0.3s ease-in-out;
}

.logo{
    font-size: 30px;
    color: white;
}

.nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

.nav a {
  color: #fff;
  text-decoration: none;
  padding: 7px 15px;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
  font-family: fantasy;
}

.nav a.current,
.nav a:hover {
  color: #c0392b;
  font-weight: bold;
}

span{
    color: red;
}

.grid{
    background-color: #333;
    margin-top: 80px;
    text-transform: capitalize;
    padding: 3px;
    border: 8px solid rgb(237, 6, 64);
    text-align: center;
    border-radius: 8px;
    color: blueviolet;
    font-size: 27px;
    box-shadow: 8px 6px 5px 2px;
}


 .form-main{
    margin-top: 50px;
    font-family: fantasy;
    font-size: 20px;
     margin-left: 590px;
 }

 .form-main > form > input{
   width: 320px;
   height: 45px;
   border-radius: 10px;
   border: 5px solid rgb(236, 213, 219);
   font-size: 28px;
 }

 .form-main > form > label{
    letter-spacing: 1.5px;
    color: blueviolet;
  }

  .form-main > form > input[type=submit]{
     background-color: red;
     color: #ddd;
  }

  .form-main > form > input[type=submit]:hover{
    color: #f16657;
   font-weight: bold;
   transition: 0.6s;
 }

