*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #333f4f;
}

 .container{
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	flex-direction: column;
 	background-color: rgba(255, 200, 100, 0.5);
 	width: 400px;
 	height: 200px;
 	box-shadow: -5px -10px 8px rgba(106, 200, 300, 0.5);
 	border: 8px solid #acd122;
 	border-radius: 8px;
 	margin: 100px auto;
 }