*{
	box-sizing: border-box;
}

body{
	font-family: system-ui;
	background: #eacbcb6e;
}

.coffee-nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 10px;
}

.links li{
	display: inline-block;
	margin-right: 20px;
}

ul{
	margin-right: 40px;
}

.links li > a{
	margin-right: 10px;
	font-weight: bold;
}

.left-name h1{
	font-size: 1.3rem;
	margin-left: 40px;
	font-weight: bold;
}

.content{
	position: relative;
    top: -500px;
    left: 100px;
}

.content h1{
	font-size: 1.6rem;
	font-weight: bolder;
	color: white;
	font-family: Showcard Gothic;
}

.content p{
	font-weight: 700;
	color: moccasin;
	font-size: 1rem;
}

.container-grid{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 320px;
	padding: 4px;
}

.grid{
	margin-top: -100px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 30px;
}

.aside{
	background: purple;
	margin: 10px 30px;
	border-radius: 0.4rem;
	padding: 5px;
	width: 1150px;
}

.aside h2{
	font-size: 1.6rem;
	font-weight: bold;
	color: white;
	font-family: monospace;
}

.aside p{
	font-size: 1.3rem;
}